.portfolio-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.portfolio-innerContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    padding: 10px 0;
}
.portfolio-card {
    width: 32.5%;
    height: 250px;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-image {
    width: 100%;
    height: 250px;
}
.card_textContainer {
    color: white;
    position: absolute;
    cursor: pointer;
    transition: transform 250ms;
    display: none;
}
.card-image:hover + div {
    display: block;
    transform: translateY(10px);
}
.card_textTitle {
    font-weight: 600;;
}
.section {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.section.contact {
    margin-top: 100px;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.work-wrapper {
  width: 100%;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work-header {
    font-size: 3rem;
    line-height: 20px;
    color: black;
}
.grid {
    display: grid;
    width: 100%;
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: 1fr 1fr; */
    grid-gap: 10px;
    /* border: 1px solid blue; */
    
    /* @include media(">=phone", "<lgphone") {
        grid-template-columns: 1fr;
    }
    @include media(">=lgphone", "<tablet") {
        grid-template-columns: 1fr;
    }
    @include media(">=tablet", "<desktop") {
        grid-template-columns: 1fr 1fr;
    } */
}